.name {
  height: 65px;
  color: white;
  padding-top: 3%;
  margin-left: 15px;
  font-size: 38px;
}
.image {
  display: block;
  height: 550px;
  width: 450px;
  padding-top: 2%;
}
.row {
  background-color: #303030;
  padding-left: 2%;
}
.zoner {
  margin-top: 25px;
  margin-bottom: 20px;
}
.description {
  color: white;
  width: 100%;
  text-align: justify;
  font-size: 15px;
  margin-bottom: 2%;
}
.col-6 {
  margin-top: 27px;
}
.col-3 {
  padding-top: 22px;
  padding-right: 30px;
  text-align: start;
}
.mat-divider {
  border-top-color: lightslategray;
  width: 100%;
}
span {
  color: white;
}
.rate {
  font-size: 18px;
}
.rate-btn {
  color: white;
  width: 100px;
  height: 35px;
  margin-top: 10px;
  margin-left: 7%;
  margin-bottom: 40%;
}
.comment-section {
  color: white;
  margin-top: 5%;
}
h3 {
  color: white;
}
.divider {
  color: white;
}
