.name {
  height: 65px;
  color: white;
  padding-top: 3%;
  margin-left: 10px;
  font-size: 38px;
}
.image {
  display: block;
  height: 550px;
  width: 450px;
  padding-top: 2%;
}
.row {
  background-color: #303030;
  padding-left: 2%;
}
.zoner {
  margin-top: 50px;
}
.description {
  color: white;
  width: 61%;
  font-size: 15px;
  margin-top: 4%;
}
.col-4 {
  padding-top: 22px;
}
.col-3 {
  padding-top: 22px;
  padding-right: 30px;
  text-align: start;
}
.mat-divider {
  border-top-color: lightslategray;
  width: 60%;
}
.director {
  padding-right: 10px;
}
span {
  color: white;
}
h3 {
  color: white;
}
.divider {
  color: white;
}
