<div style="border-style: solid;" *ngIf="data.dialogType=='delete'">
  <div class="content-container">
    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
    <span class="content-span full-width">{{data.message}}</span>
  </div>
  <button mat-flat-button id="no-button" [mat-dialog-close]="false">NO</button>
  <button mat-flat-button id="yes-button" [mat-dialog-close]="true">YES</button>
</div>


<div *ngIf="data.dialogType=='star' ">
  <div class="row">
    <h4>{{data.movieName}}</h4>
    <mat-card appearance="fill">
      <button mat-icon-button [color]="starColor" *ngFor="let ratingId of ratingArr; index as i"
        (click)="onClick(i + 1)">
        <mat-icon style="align-items: center;" (click)="startClicked(i)">
          {{ showIcon(i) }}
        </mat-icon>
      </button>
    </mat-card>
    <button mat-button [mat-dialog-close]="rating" (click)="onRate()">Rate</button>
  </div>
</div>
