.image {
  height: 225px;
  width: 200px;
}
.content {
  padding-left: 3%;
  background-color: #303030;
}
.row {
  background-color: #303030;
}
.text {
  font-size: 15px;
  padding-top: 15px;
  font-weight: bolder;
}
.mat-card {
  height: 315px;
  width: 232px;
}
.pointer {
  cursor: pointer;
}
.zoner {
  margin-top: 3%;
  margin-right: 3%;
  width: 90px;
  margin-bottom: 4%;
}
.mat-flat-button {
  border-radius: 10%;
  background-color: lightcyan;
  width: 100px;
}
.row {
  padding-left: 3%;
}
.found {
  font-size: 30px;
  text-align: center;
  color: white;
}
