<div class="container">
  <div class="row">
    <div class="card col-4">
      <div class="card-body col-md-12">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <mat-card-title>Login</mat-card-title>
          <div class="form-group col-md-10 pt-4">
            <label>Email</label>
            <input [class.is-invalid]="Error['email'].invalid && Error['email'].touched || formNotSubmitted"
              class="form-control" formControlName="email" type="email" required>
            <div class="text-danger"
              *ngIf="Error['email'].invalid && (Error['email'].touched || Error['email'].dirty) || formNotSubmitted">
              <small *ngIf="Error['email'].errors?.['pattern']"> Email is Invalid </small>
              <small *ngIf="Error['email'].errors?.['required']"> Email is required </small>
            </div>
          </div>
          <div class="form-group col-md-10 pt-4">
            <label>Password</label>
            <input [class.is-invalid]="Error['password'].invalid && Error['password'].touched || formNotSubmitted"
              class="form-control" formControlName="password" type="password" required>
            <div class="text-danger"
              *ngIf="Error['password'].invalid && (Error['password'].touched || Error['password'].dirty) || formNotSubmitted">
              <small *ngIf="Error['password'].errors['required']"> Password is required </small>
              <small *ngIf="Error['password'].errors['minlength']">Password must have 6 characters</small>
            </div>
          </div><br><br>
          <button class="submit-btn col-md-10" type="submit" [disabled]="isAuth">Sign-In</button>
          <p class="pt-4">New User? <a routerLink="/signup"> Create an account</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
