textarea {
  width: 335px;
  height: 135px;
  border-radius: 2%;
  border-color: goldenrod;
  border-style: solid;
}
.commentUser {
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.review {
  justify-content: space-between;
  display: flex;
  align-content: center;
  background-color: #303030;
  color: white;
}
.comment-section {
  color: white;
  max-width: 600px;
}
p {
  text-size-adjust: left;
  font-size: 16px;
}

.submit {
  background-color: lightgray;
  width: 80px;
  height: 35px;
}
